/* BASE */
* {
	box-sizing: border-box;
}
html {
	min-width: 780px;
	position: relative;
	font-family: jost;
	background: linear-gradient(var(--clr-2), var(--clr-4), var(--clr-1));
	line-height: 1.25;
}

body {
	height: 100%;
	margin: 0;
}
a {
	color: var(--clr-6);
	text-decoration: none;
}

button {
	cursor: pointer;
}

img {
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 1em;
}

/* HELPERS */
.display-non {
	display: none;
}
.flex {
	display: flex;
}

.flex.space-between {
	justify-content: space-between;
}
.flex.space-around {
	justify-content: space-around;
}
.flex.center {
	justify-content: center;
}

.flex.align-center {
	align-items: center;
}
.flex.wrap {
	flex-wrap: wrap;
}

.clean-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
/* MAIN LAYOUT */
.main-layout > *:not(.full) {
	max-width: var(--large);
	margin-left: auto;
	margin-right: auto;
}
