.section-gallery {
	margin-top: 27.5vh;
	margin-left: 5%;
	margin-right: 5%;
}

.gallery-image {
	border-radius: 10px;
	cursor: pointer;
}

.random-pick {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 400px;
	height: 400px;
	transform: translate(-430px);
	transition: transform 0.7s;
}

.images-container {
	height: 100vh;
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	align-items: flex-end;
}
.gallery-image:hover {
	opacity: 0.5;
}
