/* HEADER */

.main-header {
	min-height: 150px;
	background-color: var(--clr-3);
	box-shadow: 0 5px 10px 5px rgba(0, 73, 83, 0.4);
	position: fixed;
	top: 0;
	left: 50%;
	width: 100%;
	transform: translate(-50%);
}
.main-header-content {
	background-color: var(--clr-2);
	border: 1px solid var(--clr-3);
	border-radius: 5px;
	box-shadow: 0px -3px 5px 5px rgba(0, 73, 83, 0.4);
	transition: 1s;
}
/* nav */
.header-nav {
	flex-grow: 1;
	position: relative;
}
.logo {
	flex-grow: 4;
	margin-top: 2px;
	margin-left: 5px;
}
.logo-image {
	width: 100px;
	height: 100px;
}
.search-bar {
	position: absolute;
	left: -300px;
	width: 250px;
	height: 42.5px;
	border: 1px solid var(--clr-1);
	border-radius: 15px;
	background-color: var(--clr-5);
	box-shadow: 5px 1px 5px rgba(26, 36, 33, 0.3);
	transition: 0.3s ease-out;
}
.search {
	background-color: var(--clr-5);
	border: none;
	max-width: 150px;
	outline: none;
	color: var(--clr-3);
	font-size: 1.3em;
}
.active.search-bar {
	width: 42.5px;
	left: -75px;
}
.active .search {
	width: 0;
}
.icon {
	font-family: fa-solid;
}
.active .search-icon {
	margin: auto;
}
.active .microphone-icon {
	font-size: 0;
}
.search-icon::before {
	content: '\f002';
}
.microphone-icon::before {
	content: '\f130';
}
.microphone-icon {
	font-size: 1.2em;
}
.search-icon {
	font-size: 1.3em;
	cursor: pointer;
}
.hamburger-icon {
	font-size: 3em;
	font-family: fa-solid;
	width: 100px;
	height: 100px;
}
.hamburger-icon::after {
	content: '\f0c9';
}

/* BUTTONS */
.gallery-btn {
	font-family: jost-black;
	font-size: 2em;
	opacity: 0.9;
}
.random-img-btn {
	position: relative;
	height: 45px;
	width: 150px;
	border-radius: 15px;
	border: none;
	font-family: jost-black;
	font-size: 1.2em;
	cursor: pointer;
	background-color: var(--clr-6);
	color: var(--clr-5);
	opacity: 0.8;
	transition: 0.5s;
}
.random-img-btn:hover {
	color: var(--clr-6);

	background: linear-gradient(
		var(--clr-1),
		var(--clr-2),
		var(--clr-3),
		var(--clr-4),
		var(--clr-6)
	);
	background-size: 300%;
}
.btn-hamburger {
	position: absolute;
	top: 120%;
	right: 40%;

	height: 100px;
	width: 100px;
}
