/* 
*/
@import 'image-gallery/basics.css';
@import 'image-gallery/components.css';
@import 'image-gallery/header.components.css';
@import 'image-gallery/mq.css';
@import 'meme-editor/setup.css';
@import 'meme-editor/basics.css';
@import 'meme-editor/components.css';
@import 'meme-editor/mq.css';
/* VARS */
:root {
	/* colors */
	--clr-1: #00a693;
	--clr-2: #50c878;
	--clr-3: #609078;
	--clr-4: #004953;
	--clr-5: #f0fff0;
	--clr-6: rgb(26, 36, 33);
	/* size */
	--large: 1260px;
	--medium: 900px;
	--small: 650px;
	--mobile-height: 1280px;
}
/* TYPOGRAPHY */
/* text */
@font-face {
	font-family: jost;
	src: url(fonts/Jost-Regular.ttf);
}
@font-face {
	font-family: jost-black;
	src: url(fonts/Jost-Black.ttf);
}

@font-face {
	font-family: jost-black-italic;
	src: url(fonts/Jost-BlackItalic.ttf);
}
/* icons */
@font-face {
	font-family: fa-brands;
	src: url(fonts/fa-brands-400.ttf);
}
@font-face {
	font-family: fa-regular;
	src: url(fonts/fa-regular-400.ttf);
}
@font-face {
	font-family: fa-solid;
	src: url(fonts/fa-solid-900.ttf);
}
@font-face {
	font-family: fa-compat;
	src: url(fonts/fa-v4compatibility.ttf);
}
